/* Slick Carousel Styles */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Brand Colors */
  --brand-red: #CE1527;
  --brand-blue: #2B2E4B;
  --text-light: #FAF0F1;
  --text-dark: #242424;

  --text-font: 'Lato', Helvetica, sans-serif;
  --headings-font: 'Cinzel', serif;

  /* Typography */
  font-family: var(--text-font);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-dark);
  background-color: var(--text-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}